In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
dataset = pd.read_csv("CKD.csv")
dataset.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.46,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.11,57.48,3.08,137.53,4.63,12.52,38.87,8408.19,4.71,no,no,no,yes,yes,no,yes
1,3.0,76.46,c,2.0,0.0,normal,normal,notpresent,notpresent,148.11,22.00,0.70,137.53,4.63,10.70,34.00,12300.00,4.71,no,no,no,yes,poor,no,yes
2,4.0,76.46,a,1.0,0.0,normal,normal,notpresent,notpresent,99.00,23.00,0.60,138.00,4.40,12.00,34.00,8408.19,4.71,no,no,no,yes,poor,no,yes
3,5.0,76.46,d,1.0,0.0,normal,normal,notpresent,notpresent,148.11,16.00,0.70,138.00,3.20,8.10,38.87,8408.19,4.71,no,no,no,yes,poor,yes,yes
4,5.0,50.00,c,0.0,0.0,normal,normal,notpresent,notpresent,148.11,25.00,0.60,137.53,4.63,11.80,36.00,12400.00,4.71,no,no,no,yes,poor,no,yes

In [8]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.shape
pd.set_option("display.max.columns",None)
pd.set_option("display.precision",2)
dataset.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.46,3.0,0.0,148.11,57.48,3.08,137.53,4.63,12.52,38.87,8408.19,4.71,0,1,0,0,1,0,0,0,0,0,0,1,1,0,1
1,3.0,76.46,2.0,0.0,148.11,22.00,0.70,137.53,4.63,10.70,34.00,12300.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1
2,4.0,76.46,1.0,0.0,99.00,23.00,0.60,138.00,4.40,12.00,34.00,8408.19,4.71,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1
3,5.0,76.46,1.0,0.0,148.11,16.00,0.70,138.00,3.20,8.10,38.87,8408.19,4.71,0,0,1,0,1,1,0,0,0,0,0,1,0,1,1
4,5.0,50.00,0.0,0.0,148.11,25.00,0.60,137.53,4.63,11.80,36.00,12400.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1

In [9]:
indep=dataset[["age","bp","al","su","bgr","bu","sc","sod","pot","hrmo","pcv","wc","rc","sg_b","sg_c","sg_d","sg_e","rbc_normal","pc_normal","pcc_present","ba_present","htn_yes","dm_yes","cad_yes","appet_yes","pe_yes","ane_yes"]]
dep=dataset[["classification_yes"]]
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.00,76.46,3.0,0.0,148.11,57.48,3.08,137.53,4.63,12.52,38.87,8408.19,4.71,0,1,0,0,1,0,0,0,0,0,0,1,1,0
1,3.00,76.46,2.0,0.0,148.11,22.00,0.70,137.53,4.63,10.70,34.00,12300.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0
2,4.00,76.46,1.0,0.0,99.00,23.00,0.60,138.00,4.40,12.00,34.00,8408.19,4.71,0,0,0,0,1,1,0,0,0,0,0,1,0,0
3,5.00,76.46,1.0,0.0,148.11,16.00,0.70,138.00,3.20,8.10,38.87,8408.19,4.71,0,0,1,0,1,1,0,0,0,0,0,1,0,1
4,5.00,50.00,0.0,0.0,148.11,25.00,0.60,137.53,4.63,11.80,36.00,12400.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.49,70.00,0.0,0.0,219.00,36.00,1.30,139.00,3.70,12.50,37.00,9800.00,4.40,0,0,0,0,1,1,0,0,0,0,0,1,0,0
395,51.49,70.00,0.0,2.0,220.00,68.00,2.80,137.53,4.63,8.70,27.00,8408.19,4.71,0,1,0,0,1,1,0,0,1,1,0,1,0,1
396,51.49,70.00,3.0,0.0,110.00,115.00,6.00,134.00,2.70,9.10,26.00,9200.00,3.40,0,1,0,0,1,1,0,0,1,1,0,0,0,0
397,51.49,90.00,0.0,0.0,207.00,80.00,6.80,142.00,5.50,8.50,38.87,8408.19,4.71,0,0,0,0,1,1,0,0,1,1,0,1,0,1
398,51.49,80.00,0.0,0.0,100.00,49.00,1.00,140.00,5.00,16.30,53.00,8500.00,4.90,0,0,0,0,1,1,0,0,0,0,0,1,0,0

In [10]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
param_grid={"n_neighbors":[5,7,10],'weights':['uniform',"distance"],
            "algorithm":['auto','ball_tree','kd_tree','brute'],"leaf_size":[30,35],"p":[2,3,4],"metric":["minkowski"],"n_jobs":[-1]}
grid=GridSearchCV(KNeighborsClassifier(),param_grid,refit=True,verbose=3,cv=5,n_jobs=-1,scoring="f1_weighted")
grid.fit(X_train,y_train)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.7s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   44.9s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 720 out of 720 | elapsed:  2.1min finished
C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'leaf_size': [30, 35], 'metric': ['minkowski'],
                         'n_jobs': [-1], 'n_neighbors': [5, 7, 10],
                         'p': [2, 3, 4], 'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [14]:
re=grid.cv_results_
grid_predict=grid.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predict)

In [16]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predict)
print(clf_report)

              precision    recall  f1-score   support

           0       0.62      0.89      0.73        45
           1       0.91      0.67      0.77        75

    accuracy                           0.75       120
   macro avg       0.76      0.78      0.75       120
weighted avg       0.80      0.75      0.75       120

In [17]:
print(cm)

[[40  5]
 [25 50]]

In [18]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_leaf_size,param_metric,param_n_jobs,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.20,8.41e-02,0.49,0.09,auto,30,minkowski,-1,5,2,uniform,"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.66,0.67,0.68,0.72,0.73,0.69,0.03,121
1,0.02,6.25e-03,0.33,0.04,auto,30,minkowski,-1,5,2,distance,"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.66,0.68,0.73,0.77,0.77,0.72,0.04,9
2,0.02,7.65e-03,0.31,0.03,auto,30,minkowski,-1,5,3,uniform,"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.66,0.65,0.68,0.74,0.71,0.69,0.03,129
3,0.04,3.77e-02,0.39,0.11,auto,30,minkowski,-1,5,3,distance,"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.66,0.67,0.73,0.77,0.73,0.71,0.04,57
4,0.04,2.90e-02,0.56,0.03,auto,30,minkowski,-1,5,4,uniform,"{'algorithm': 'auto', 'leaf_size': 30, 'metric...",0.66,0.65,0.68,0.74,0.71,0.69,0.03,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,0.03,2.07e-02,0.38,0.05,brute,35,minkowski,-1,10,2,distance,"{'algorithm': 'brute', 'leaf_size': 35, 'metri...",0.74,0.70,0.72,0.75,0.75,0.73,0.02,1
140,0.08,5.45e-02,0.36,0.02,brute,35,minkowski,-1,10,3,uniform,"{'algorithm': 'brute', 'leaf_size': 35, 'metri...",0.74,0.71,0.68,0.72,0.70,0.71,0.02,73
141,0.05,3.19e-02,0.36,0.03,brute,35,minkowski,-1,10,3,distance,"{'algorithm': 'brute', 'leaf_size': 35, 'metri...",0.70,0.72,0.72,0.74,0.75,0.72,0.02,17
142,0.01,1.17e-02,0.34,0.02,brute,35,minkowski,-1,10,4,uniform,"{'algorithm': 'brute', 'leaf_size': 35, 'metri...",0.74,0.71,0.68,0.72,0.70,0.71,0.02,73
143,0.05,3.51e-02,0.37,0.03,brute,35,minkowski,-1,10,4,distance,"{'algorithm': 'brute', 'leaf_size': 35, 'metri...",0.72,0.70,0.70,0.74,0.73,0.72,0.01,49

In [19]:
Future_predict=grid.predict([[2,76,3,0,148.1,57.8,3.08,137.53,4.63,12.52,38.87,8403.3,4.71,0,0,0,0,1,0,0,0,0,0,0,1,1,0]])
Future_predict

array([1], dtype=uint8)